body {
    background-color: chocolate;
    color: white;
}

#header-nav {
    border: 0;
    border-radius: 0;
    background-color: tomato;
}

#logo-img {
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    background: url("../images/favicon.png") no-repeat;
}