* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    background-color: #aaa;
}

ul {
  display: block;
	
li {
  display: inline-block;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	color: #fff;
	background-color: #009688;
}

